:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

a {
	font-weight: 500;
	color: #646cff;
	text-decoration: inherit;
}
a:hover {
	color: #535bf2;
}

body {
	margin: 0;
	display: flex;
	place-items: center;
	min-width: 320px;
	min-height: 100vh;
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
}

#app {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}

/* Title section */
#app .title-section .logo {
	display: flex;
}

#app .title-section .logo img {
	width: 60px;
	margin-right: 20px;
}

#app .title-section .logo h1 {
	font-size: 2.5em;
	margin-bottom: 0;
	padding: 0;
}

#app .title-section p {
	font-size: 1em;
}

/* Mobile sizing */
#app .main-app {
	background-color: #111;
	max-width: 335px;
	height: 700px;
	display: flex;
	flex-direction: column;
	overflow-y: scroll;
	border-radius: 10px;
	padding: 30px 30px 25px 30px;
	font-family: Arial, Helvetica, sans-serif;
}

/* Header section */
#app .main-app .header .settings,
#app .main-app .header .bio .handles {
	display: flex;
	justify-content: space-between;
	margin-bottom: 15px;
}

#app .main-app .header .settings a {
	color: #efefef;
}
#app .main-app .header .settings a:hover {
	color: white;
	cursor: pointer;
}

#app .main-app .header .settings .right-section a:first-child {
	margin-right: 10px;
}

#app .main-app .header .bio .handles .name {
	margin-top: 7px;
}

#app .main-app .header .bio .handles .name h2 {
	margin: 0;
	font-size: 20px;
	text-align: left;
}

#app .main-app .header .bio .handles .name .username {
	display: flex;
	justify-content: start;
	font-size: 13px;
}

#app .main-app .header .bio .handles .name .username span:last-child {
	margin-left: 10px;
	background-color: #333;
	color: #999;
	padding: 2px 6px;
	border-radius: 10px;
	font-size: 10px;
}

#app .main-app .header .bio .description p {
	font-size: 14px;
	text-align: left;
}

#app .main-app .header .bio .followers {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 4px;
	width: 100%;
	text-align: left;
}

#app .main-app .header .bio .followers .users img {
	width: 20px;
	border-radius: 50%;
	border: 2px solid #111;
}

#app .main-app .header .bio .followers .users img:nth-child(2),
#app .main-app .header .bio .followers .users img:nth-child(3) {
	margin-left: -15px;
}

#app .main-app .header .bio .followers p,
#app .main-app .header .bio .followers p {
	font-size: 12px;
	color: #888;
}

#app .main-app .header .bio .followers .title {
	margin-left: 10px;
}

#app .main-app .header .bio .followers .url {
	margin-left: 8px;
}

#app .main-app .header .cta {
	display: flex;
	justify-content: space-between;
	margin-top: 7px;
}

#app .main-app .header .cta a {
	border: 1px solid #444;
	width: 153px;
	border-radius: 5px;
	padding: 3px;
	color: #ddd;
	font-size: 14px;
	box-shadow: 0px 1px 2px 2px rgba(65, 63, 63, 0.1);
}

#app .main-app .header .cta a:hover {
	color: #ffffff;
	box-shadow: 0px 1px 4px 4px rgba(127, 123, 123, 0.1);
}

#app .main-app .header .bio .avatar img {
	width: 55px;
	border-radius: 50%;
}

#app .main-app .header .logo {
	height: 6em;
	padding: 1.5em;
	will-change: filter;
	transition: filter 300ms;
}
.logo:hover {
	filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
	filter: drop-shadow(0 0 2em #f7df1eaa);
}

@media (prefers-color-scheme: light) {
	:root {
		color: #213547;
		background-color: #ffffff;
	}

	a:hover {
		color: #747bff;
	}

	button {
		background-color: #f9f9f9;
	}
}
