:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

a {
	font-weight: 500;
	color: #646cff;
	text-decoration: inherit;
}
a:hover {
	color: #535bf2;
}

body {
	margin: 0;
	display: flex;
	place-items: center;
	min-width: 320px;
	min-height: 100vh;
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
}

#app {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}

/* Title section */
#app .title-section {
	margin-bottom: 0.8em;
}

#app .title-section .intro {
	display: flex;
	justify-content: center;
	margin-left: -10px;
}

#app .title-section .intro img {
	width: 70px;
	height: 75px;
	margin-right: 20px;
}

#app .title-section .intro .details {
	text-align: left;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: left;
}

#app .title-section .intro .details h1 {
	font-size: 2em;
	margin: 0;
	padding: 0;
}

#app .title-section .intro .details p {
	font-size: 0.9em;
	padding: 0;
	margin: 0;
}

/* Mobile sizing */
#app .main-app {
	background-color: #111;
	max-width: 335px;
	height: 700px;
	display: flex;
	flex-direction: column;
	overflow-y: scroll;
	border-radius: 10px;
	padding: 30px 30px 25px 30px;
	font-family: Arial, Helvetica, sans-serif;
}

/* Header section */
#app .main-app .header .settings,
#app .main-app .header .bio .handles {
	display: flex;
	justify-content: space-between;
	margin-bottom: 15px;
}

#app .main-app .header .settings a {
	color: #efefef;
}
#app .main-app .header .settings a:hover {
	color: white;
	cursor: pointer;
}

#app .main-app .header .settings .right-section a:first-child {
	margin-right: 10px;
}

#app .main-app .header .bio .handles .name {
	margin-top: 7px;
}

#app .main-app .header .bio .handles .name h2 {
	margin: 0;
	font-size: 20px;
	text-align: left;
}

#app .main-app .header .bio .handles .name .username {
	display: flex;
	justify-content: start;
	font-size: 13px;
}

#app .main-app .header .bio .handles .name .username span:last-child {
	margin-left: 10px;
	background-color: #333;
	color: #999;
	padding: 2px 6px;
	border-radius: 10px;
	font-size: 10px;
}

#app .main-app .header .bio .description p {
	font-size: 14px;
	text-align: left;
}

#app .main-app .header .bio .followers {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 4px;
	width: 100%;
	text-align: left;
}

#app .main-app .header .bio .followers .users img {
	width: 20px;
	border-radius: 50%;
	border: 2px solid #111;
}

#app .main-app .header .bio .followers .users img:nth-child(2),
#app .main-app .header .bio .followers .users img:nth-child(3) {
	margin-left: -15px;
}

#app .main-app .header .bio .followers p,
#app .main-app .header .bio .followers p {
	font-size: 12px;
	color: #888;
}

#app .main-app .header .bio .followers .title {
	margin-left: 10px;
}

#app .main-app .header .bio .followers .url {
	margin-left: 8px;
}

#app .main-app .header .cta {
	display: flex;
	justify-content: space-between;
	margin-top: 7px;
}

#app .main-app .header .cta a {
	border: 1px solid #444;
	width: 115px;
	border-radius: 5px;
	padding: 3px;
	color: #ddd;
	font-size: 14px;
	box-shadow: 0px 1px 2px 2px rgba(39, 38, 38, 0.1);
}

#app .main-app .header .cta a:hover {
	color: #ffffff;
	box-shadow: 0px 1px 4px 4px rgba(110, 107, 107, 0.1);
}

/* Tabs */
#app .main-app .tabs {
	margin-top: 20px;
	position: relative;
}

#app .main-app .tabButtons {
	border-bottom: 1px solid #333;
	display: flex;
	justify-content: space-around;
	font-size: 14px;
}

#app .main-app .tabButtons a:first-child {
	color: #eee;
	border-bottom: 1px solid #eee;
	width: 50%;
}

#app .main-app .tabButtons a:last-child {
	color: #666;
	width: 50%;
}

/* Post */
#app .main-app .post,
#app .main-app .carousel {
	display: flex;
	justify-content: space-between;
	align-items: start;
	gap: 20px;
	margin-top: 1em;
	border-bottom: 1px solid #333;
	padding-bottom: 0.8em;
}

#app .main-app .post .users,
#app .main-app .carousel .users {
	width: 10%;
}

#app .main-app .post .users .author img,
#app .main-app .carousel .users .author img {
	width: 40px;
	border-radius: 50%;
}

#app .main-app .post .contents,
#app .main-app .carousel .contents {
	width: 90%;
	text-align: left;
}

#app .main-app .post .contents .username p,
#app .main-app .carousel .contents .username p {
	font-size: 14px;
	margin: 0 0 3px 0;
}

#app .main-app .post .contents .content p {
	font-size: 12px;
	font-family: arial;
	margin: 0;
	color: #ddd;
}

#app .main-app .post .contents .cta,
#app .main-app .carousel .contents .cta {
	display: flex;
	gap: 17px;
	margin-top: 10px;
}

#app .main-app .post .contents .cta a,
#app .main-app .carousel .contents .cta a {
	color: #ccc;
	padding: 0;
	margin: 0;
}

#app .main-app .post .contents .counts,
#app .main-app .carousel .contents .counts {
	display: flex;
	gap: 10px;
}

#app .main-app .post .contents .counts p,
#app .main-app .carousel .contents .counts p {
	font-size: 12px;
	color: #888;
	margin: 0;
}

/* Post carousel */
#app .main-app .carousel .contents .carouselContent {
	display: flex;
	flex-direction: column;
}

#app .main-app .carousel .contents .carouselContent p {
	padding: 0;
	margin: 0 0 5px 0;
	font-size: 13px;
	font-family: arial;
}

#app .main-app .carousel .contents .carouselContent .imageCarousel {
	display: flex;
	overflow-x: scroll;
	column-gap: 6px;
}

#app .main-app .carousel .contents .carouselContent .imageCarousel img {
	width: 220px;
	border-radius: 5px;
}

#app .main-app .header .bio .avatar img {
	width: 55px;
	border-radius: 50%;
}

#app .main-app .header .logo {
	height: 6em;
	padding: 1.5em;
	will-change: filter;
	transition: filter 300ms;
}
.logo:hover {
	filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
	filter: drop-shadow(0 0 2em #f7df1eaa);
}

@media (prefers-color-scheme: light) {
	:root {
		color: #213547;
		background-color: #ffffff;
	}

	a:hover {
		color: #747bff;
	}

	button {
		background-color: #f9f9f9;
	}
}
