.suggested-accounts {
	display: flex;
	flex-direction: column;
	text-align: left;
	margin-top: 0.5rem /* 8px */;
	margin-bottom: 0.5rem /* 8px */;
	width: 100%;

	.title {
		padding-left: 1rem /* 16px */;
		padding-right: 1rem /* 16px */;

		h2 {
			font-size: 0.875rem /* 14px */;
			line-height: 1.25rem /* 20px */;
		}
	}

	.content {
		padding-left: 1rem;
		padding-right: 1rem;
		display: flex;
		justify-content: flex-start;
		gap: 0.25rem;
		overflow-x: scroll;
		margin-top: 0.5rem;
		scroll-behavior: smooth;
		scroll-padding-top: 0.5rem;
		text-align: center;

		.account-card {
			border-radius: 10px;
			background-color: black;
			padding: 0.5rem 2rem;
			display: flex;
			flex-direction: column;

			.icon {
				width: 1rem;
				font-weight: 700;
				align-self: flex-end;
				color: #777;
			}

			img {
				border-radius: 9999px; /* or 50% */
			}

			.account {
				margin: 0.5rem 0;

				.account-info {
					display: flex;
					align-items: center;
					text-align: center;
					justify-content: center;
					gap: 0.25rem;

					.username {
						font-size: 0.9rem /* 14px */;
						line-height: 1.25rem /* 20px */;
						color: #eee;
					}
				}

				.account-name {
					font-size: 0.7rem /* 12px */;
					line-height: 1rem /* 16px */;
					color: #888;
				}
			}

			.follow-btn {
				border: 1px solid #333;
				font-size: 0.75rem; /* 12px */
				line-height: 1rem; /* 16px */
				font-size: 0.75rem; /* 12px */
				line-height: 1rem; /* 16px */
				padding-top: 0.375rem; /* 6px */
				padding-bottom: 0.375rem; /* 6px */
				width: 100%;
				border-radius: 0.5rem; /* 8px */
				background-color: transparent;
			}
		}
	}
}
