// Import partials
@import './partials/header';
@import './partials/navigation';
@import './partials/post';
@import './partials/suggestedAccount';
@import './partials/profile';
@import './partials/profileTabs';
@import './partials/search';
@import './partials/activity';
@import './partials/footer';

// Base variables
:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #111;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

// General Resets
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

a {
	color: #ccc;
	text-decoration: inherit;
}
a:hover {
	color: #fff;
}

body {
	display: flex;
	place-items: center;
	min-width: 300px;
	min-height: 100vh;
}

#app {
	max-width: 768px;
	width: 100%;
	margin: 0 auto;
	padding: 0;
	text-align: center;

	.main-content {
		padding-bottom: 4em;
	}

	/* Custom elements and design */
	.separator {
		border-bottom: 1px solid #222;
		margin: 0.1em 0;
	}

	.rotateComment {
		transform: rotate(270deg);
	}

	.filled {
		color: rgb(200, 21, 21);
		fill: currentColor;
	}
}

/* Media Queries */
@media (prefers-color-scheme: light) {
	:root {
		color: #213547;
		background-color: #ffffff;
	}

	a:hover {
		color: #747bff;
	}

	button {
		background-color: #f9f9f9;
	}
}

/* Small Screen */
@media screen and (max-width: 480px) {
	#app {
		max-width: 100%;
		margin: 0;
		padding: 0;
	}
}
